*.jpg
*.jpeg
*.json
*.pyc
img/
label/
vis/
checkpoint/
dataset/
.vscode/
__MACOSX/
tensorboard/
__pycache__/
*.xlsx
*.ipynb
*.pyc
checkpoint_all/
checkpoint_F/
checkpoint_transformer/
eval/
class/


docker/
.env
prediction